 
* {
  color: white;
  background-color: black;
}
<<<<<<< HEAD

a {
  color: rgb(190, 153, 51);
}

a:hover {
  text-decoration: none;
  color: rgb(218, 110, 9);
}

col-lg-1 {
  background-color: yellow;
}
=======
  
  a{
    color: white;
  }

  a:hover{
    color: slategrey;
  }
 
>>>>>>> marco
