 
* {
  color: white;
  background-color: black;
}

a {
  color: rgb(190, 153, 51);
}

a:hover {
  text-decoration: none;
  color: rgb(218, 110, 9);
}

col-lg-1 {
  background-color: yellow;
}


iframe {height:9000px}
